{% extends  "base.html" %}

{% block top %}

<section class="hero is-primary">
<div class="hero-body">
    </div class="container">
        <h1>Cadastre seu usuário</h1>
    </div>
 </div>
  </section>

{% endblock top %}

{% block main %}

<form class='user-form' action = '{{"site.signup"}}' method='post' enctype='multipart/form-data'>
    {{form.csrf_token}}
    
    {{form.email.label}}<br>
    {{form.email(size=20)}}<br>

    {{form.senha.label}}<br>
    {{form.senha(size=20)}}<br>

    {{form.foto.label}}<br>
    {{form.foto}}<br>


<input type='submit' value='Enviar' />
</form>

{% endblock main %}